<%- include ('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

    <h1>PAGINA DE PERFIL</h1>
    <h2>Escolha o seu Perfil</h2>
    Bem vindo <%=nome%>
    <p><%= nome %></p>
    <%- include ('partials/footer.ejs') %>

