<%- include ('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>
<h1>Pagina de Videos</h1>
<!--<h2>Voce esta assistindo o video <%= video %> da playlist <%= playlist %></h2> !-->




    
    <% if(!playlist){ %>
        <% ListaPlaylist.forEach((playlist) =>{ %>
            <p><a href="videos/<%= playlist%>"><%= playlist %> </a></p>
    
    
       <% })} %>
       <% switch(playlist){
        case 'Pagode':
        if(!video) {
        ListaPagode.forEach((video)=>{%>
            <p><a href="Pagode/<%=video%>"><%= video %> </a></p>

        <% })}} %> 
        <%- include ('partials/footer.ejs') %>

    
